* {
  --main-color: #8699ba;
  --main-color-rgb:  134, 153, 186;
  --button-add-text-color: white;
  --input-color-placeholder: rgba(var(--main-color-rgb), 0.4);
  --select-clolor: #4a2f71;
  --select-clolor-rgb: 74, 47, 113;
  --select-graph-color: rgba(var(--select-clolor-rgb), 0.8);
}